.btn-modal{
    background-color: #ccc;
    color: gray;
    border-radius: 50%;
}
.form-check-input{

}
input:checked + .slider {
  background-color: #2196F3;
}
label{
    font-size: 18px;
    text-align: center;
}
.silde{
    margin: 0 190px;
}
.modal-title{
    
    color: #fff;
    
}
.modal-header{
    background-color: gray;
    text-align: right !important;
}
.modal-footer-btn{
    margin: 20px 38%;

}
.form-check-label{
  margin-left: 5px;
}